<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default"/>

<f:section name="Main">
    <f:if condition="{person}">
        <div class="bg-white px-6 py-6 lg:px-8">
            <div class="max-w-3xl text-base/7 text-gray-700">
                <f:for each="{person.doctoralPrograms}" as="doctoralProgram">
                    <div>{doctoralProgram.title}</div>
                </f:for>
            </div>
        </div>
    </f:if>

</f:section>

</html>
