<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default"/>

<f:section name="Main">
    <f:if condition="{publications}">
        <div class="mx-auto w-full grow flex flex-col md:flex-row gap-4 mb-4">

            <div class="bg-white grow flex-1 lg:flex rounded">
                <div class="px-4 py-6 sm:px-6 lg:pl-8 md:flex-1 xl:pl-6">
                    <h2 class="font-normal text-3xl sm:text-4xl border-b border-gray-200 pb-6 mb-4 h-0 sm:h-auto collapse sm:visible">
                        <f:translate key="hio.show.person.publications" extensionName="HioTypo3ConnectorWtl" />
                    </h2>
                    <f:if condition="{settings.groupBy}  == none">
                        <f:then>
                            <f:render partial="SelectedPerson/PublicationList" arguments="{publications: publications, selectedCitationStyle: selectedCitationStyle}"/>
                        </f:then>
                        <f:else>
                            <f:if condition="{groupedPublications}">
                                <f:render partial="SelectedPerson/GroupedPublicationList"
                                          arguments="{publications: groupedPublications, selectedCitationStyle: selectedCitationStyle}"/>
                            </f:if>
                            <f:if condition="{ungroupedPublications}">
                                <h3 class="text-2xl xl:text-3xl font-semibold text-left">
                                    <f:translate key="hio.show.person.ungroupedPublications" extensionName="HioTypo3Connector" />
                                </h3>
                                <f:render partial="SelectedPerson/PublicationList"
                                          arguments="{publications: ungroupedPublications, selectedCitationStyle: selectedCitationStyle}"/>
                            </f:if>
                        </f:else>
                    </f:if>
                </div>
            </div>

            <f:if condition="{settings.showTypeStatistics} || {settings.showCoAuthorshipStatistics}">
                <div class="bg-white shrink-0 px-4 py-6 sm:px-6 lg:w-96 lg:pr-8 xl:pr-6 rounded order-first sm:order-last">
                    <h2 class="font-normal text-3xl sm:text-4xl border-b border-gray-200 pb-6 mb-4 visible sm:hidden">
                        <f:translate key="hio.show.person.publications" extensionName="HioTypo3ConnectorWtl" />
                    </h2>
                    <f:if condition="{typeStatistics} && {settings.showTypeStatistics}">
                        <f:render partial="SelectedPerson/Publication/TypeStats" arguments="{typeStats: typeStatistics}"/>
                    </f:if>
                    <f:if condition="{coAuthorshipStatistics} && {settings.showCoAuthorshipStatistics}">
                        <f:render partial="SelectedPerson/Publication/CoAuthorshipStats" arguments="{coAuthorshipStats: coAuthorshipStatistics}"/>
                    </f:if>
                </div>
            </f:if>

        </div>
    </f:if>
</f:section>

</html>
