<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default"/>

<f:section name="Main">
    <f:flashMessages/>
    <f:if condition="{person}">
        <h1 class="mt-2 font-semibold text-3xl sm:text-5xl xl:text-4xl p-4 mb-4">
            <span class="uppercase text-sm block mb-2 font-normal"><f:translate key="hio.show.person.profilePage" extensionName="HioTypo3ConnectorWtl" /></span>
            {person.name}
        </h1>
        <f:if condition="{person.orgUnits}">
            <div class="mx-auto w-full mb-4">
                <div class="bg-white rounded">
                    <div class="px-4 py-6 sm:px-6 lg:pl-8 xl:pl-6">
                        <f:render partial="Person/OrgUnit" arguments="{person: person}"/>
                    </div>
                </div>
            </div>
        </f:if>
        <f:if condition="{person.publications}">
            <f:then>
                <div class="mx-auto w-full grow flex flex-col md:flex-row gap-4 mb-4">
                    <div class="bg-white grow flex-1 xl:flex rounded">
                        <div class="px-4 py-6 sm:px-6 lg:pl-8 xl:flex-1 xl:pl-6">
                            <h2 class="font-normal text-3xl sm:text-4xl border-b border-gray-200 pb-6 mb-4 collapse h-0 sm:visible sm:h-auto">
                                <f:translate key="hio.show.person.publications" extensionName="HioTypo3ConnectorWtl" />
                            </h2>
                            <f:render partial="SelectedPerson/PublicationList" arguments="{publications: person.publications}"/>
                        </div>
                    </div>

                    <f:if condition="{settings.showTypeStatistics} || {settings.showCoAuthorshipStatistics}">
                        <div class="bg-white shrink-0 px-4 py-6 sm:px-6 lg:w-96 lg:pr-8 xl:pr-6 rounded order-first sm:order-last">
                            <h2 class="font-normal text-3xl sm:text-4xl border-b border-gray-200 pb-6 mb-4 visible sm:hidden">
                                <f:translate key="hio.show.person.publications" extensionName="HioTypo3ConnectorWtl" />
                            </h2>
                            <f:if condition="{typeStatistics} && {settings.showTypeStatistics}">
                                <f:render partial="SelectedPerson/Publication/TypeStats" arguments="{typeStats: typeStatistics}"/>
                            </f:if>
                            <f:if condition="{coAuthorshipStatistics} && {settings.showCoAuthorshipStatistics}">
                                <f:render partial="SelectedPerson/Publication/CoAuthorshipStats" arguments="{coAuthorshipStats: coAuthorshipStatistics}"/>
                            </f:if>
                        </div>
                    </f:if>
                </div>
            </f:then>
        </f:if>

        <f:if condition="{person.projects}">
            <f:then>
                <div class="mx-auto w-full grow flex flex-col md:flex-row gap-4 mb-4">
                    <div class="bg-white grow flex-1 xl:flex rounded">
                        <div class="px-4 py-6 sm:px-6 lg:pl-8 xl:flex-1 xl:pl-6">
                            <h2 class="font-normal text-3xl sm:text-4xl border-b border-gray-200 pb-6 mb-4 collapse h-0 sm:visible sm:h-auto">
                                <f:translate key="hio.show.person.projects" extensionName="HioTypo3ConnectorWtl" />
                            </h2>
                            <f:render partial="SelectedPerson/ProjectList" arguments="{projects: person.projects}"/>
                        </div>
                    </div>

                    <f:if condition="{settings.showProjectStatusStatistics}">
                        <div class="bg-white shrink-0 px-4 py-6 sm:px-6 lg:w-96 lg:pr-8 xl:pr-6 rounded order-first sm:order-last">
                            <h2 class="font-normal text-3xl sm:text-4xl border-b border-gray-200 pb-6 mb-4 visible sm:hidden">
                                <f:translate key="hio.show.person.projects" extensionName="HioTypo3ConnectorWtl" />
                            </h2>
                            <f:if condition="{projectStatusStatistics} && {settings.showProjectStatusStatistics}">
                                <f:render partial="SelectedPerson/Project/StatusStats"
                                          arguments="{projectStatusStatistics: projectStatusStatistics}"/>
                            </f:if>
                        </div>
                    </f:if>
                </div>
            </f:then>
        </f:if>

        <f:if condition="{person.patents}">
            <f:then>
                <div class="mx-auto w-full grow flex flex-col md:flex-row gap-4 mb-4">
                    <div class="bg-white grow flex-1 xl:flex rounded">
                        <div class="px-4 py-6 sm:px-6 lg:pl-8 xl:flex-1 xl:pl-6">
                            <h2 class="font-normal text-3xl sm:text-4xl border-b border-gray-200 pb-6 mb-4 collapse h-0 sm:visible sm:h-auto">
                                <f:translate key="hio.show.person.patents" extensionName="HioTypo3ConnectorWtl" />
                            </h2>
                            <f:render partial="SelectedPerson/PatentList" arguments="{patents: person.patents}"/>
                        </div>
                    </div>

                    <div class="bg-white shrink-0 px-4 py-6 sm:px-6 lg:w-96 lg:pr-8 xl:pr-6 rounded order-first sm:order-last"></div>
                </div>
            </f:then>
        </f:if>

        <f:if condition="{person.details.dynamicObjects}">
            <f:then>
                <div class="mx-auto w-full grow flex flex-col md:flex-row gap-4">
                    <div class="bg-white grow flex-1 xl:flex rounded">
                        <div class="px-4 py-6 sm:px-6 lg:pl-8 xl:flex-1 xl:pl-6">
                            <h2 class="font-normal text-3xl sm:text-4xl border-b border-gray-200 pb-6 mb-4 collapse h-0 sm:visible sm:h-auto">
                                <f:translate key="hio.show.person.dynamicObjects" extensionName="HioTypo3ConnectorWtl" />
                            </h2>
                            <f:render partial="DynamicObjects" arguments="{dynamicObjects: person.details.dynamicObjects}"/>
                        </div>
                    </div>

                    <div class="bg-white shrink-0 px-4 py-6 sm:px-6 lg:w-96 lg:pr-8 xl:pr-6 rounded order-first sm:order-last"></div>
                </div>
            </f:then>
        </f:if>
    </f:if>

    <div class="px-4 py-5 sm:p-6">
        <nav class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0">
            <div class="-mt-px flex w-0 flex-1">
                <f:render partial="Navigation/BackButton" />
            </div>
        </nav>
    </div>

</f:section>

</html>
