<div class="grid grid-cols-2 gap-4 mb-4 justify-items-stretch">
    <button
            type="submit"
            class="order-last rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 hover:bg-gray-50 focus:relative focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-wtl-red">
        <f:translate key="filter.button.apply"  extensionName="HioTypo3ConnectorWtl"/>
    </button>
    <f:form.button
            id="reset"
            type="submit"
            name="reset"
            property="reset"
            value="1"
            class="order-first rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 hover:bg-gray-50 focus:relative focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-wtl-red">
        <f:translate key="filter.button.reset" extensionName="HioTypo3ConnectorWtl"/>
    </f:form.button>
</div>