<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default"/>

<f:section name="Main">
    <f:flashMessages/>
    <f:if condition="{nomination.details}">
        <div class="bg-white px-4 py-6 lg:p-8">
            <div class="text-base/7 text-gray-700">
                <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">{nomination.title}</h1>
            </div>

        </div>
    </f:if>
    <div class="px-4 py-5 sm:p-6">
        <nav class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0">
            <div class="-mt-px flex w-0 flex-1">
                <f:render partial="Navigation/BackButton" />
            </div>
        </nav>
    </div>

</f:section>

</html>
