<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{journal}">
    <p class="mt-4 text-base/7 font-semibold text-gray-600 py-0"><f:translate key="hio.show.publication.journal.title" /></p>
    <h2 class="mt-2 text-pretty text-2xl font-semibold tracking-tight text-gray-900 sm:text-3xl">{journal.title}</h2>
    <p class="mt-4 text-lg/6 text-gray-700 py-0">{journal.publisher}</p>
    <div class="mt-6 border-t border-gray-100">
        <dl class="divide-y divide-gray-100">
            <div class="py-6 sm:grid sm:grid-cols-3 sm:gap-4">
                <dt class="text-sm/6 font-medium text-gray-900"><f:translate key="hio.show.publication.journal.issue" /></dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {journal.issue} - {journal.releaseYear}
                </dd>
            </div>
            <div class="py-6 sm:grid sm:grid-cols-3 sm:gap-4">
                <dt class="text-sm/6 font-medium text-gray-900"><f:translate key="hio.show.publication.journal.pageRange" /></dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {journal.pageRange}
                </dd>
            </div>
            <div class="py-6 sm:grid sm:grid-cols-3 sm:gap-4">
                <dt class="text-sm/6 font-medium text-gray-900"><f:translate key="hio.show.publication.journal.volume" /></dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {journal.volume}
                </dd>
            </div>

        </dl>
    </div>
</f:if>

</html>
