<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{habilitation.details}">
    <li class="flex flex-wrap items-center justify-between gap-x-6 gap-y-4 py-5 sm:flex-nowrap">
        <div>
            <p class="text-sm font-semibold leading-6 text-gray-700 flex flex-1 items-center py-0">
                <f:for each="{habilitation.details.researchAreas}" as="researchArea" key="index">
                    <span>
                        <f:if condition="{index} > 0">
                            <f:then>, {researchArea.name}</f:then>
                            <f:else>{researchArea.name}</f:else>
                        </f:if>
                    </span>
                </f:for>
            </p>
            <p class="text-lg font-semibold leading-6 text-gray-900 py-0">
                <f:link.action
                        action="show"
                        arguments="{habilitation: habilitation.uid, currentPageNumber: currentPageNumber, filter:filter}"
                        addQueryString="untrusted"
                        class="hover:underline"
                >
                    {habilitation.title}
                </f:link.action>
            </p>
            <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
                <p class="py-0">
                    <f:translate key="LLL:EXT:hio_typo3_connector/Resources/Private/Language/habilitation.xlf:habilitation.status" />: {habilitation.details.status.name}
                </p>
                <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 fill-current">
                    <circle cx="1" cy="1" r="1" />
                </svg>
                <p class="py-0">
                    <f:translate key="LLL:EXT:hio_typo3_connector/Resources/Private/Language/habilitation.xlf:habilitation.language" />: {habilitation.details.language}
                </p>
            </div>
        </div>
    </li>
</f:if>

</html>
