<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{person}">
    <f:if condition="{person.id} && {settings.projects.personTargetPageUid}">
        <f:then>
            <p class="py-0">
                <f:link.action action="show"
                               controller="Person"
                               pageUid="{settings.projects.personTargetPageUid}"
                               arguments="{person: person.id}"
                               class="text-gray-700 hover:underline hover:text-wtl-red-dark-500 px-0">
                    {person.name}
                </f:link.action>
            </p>
        </f:then>
        <f:else>
            {person.name}<br />
        </f:else>
    </f:if>
</f:if>

</html>
