<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{projects}">
    <div class="max-w-3xl xl:max-w-5xl text-base/7">
        <ul class="list-none">
            <f:for each="{projects}" as="project">
                <li class="py-1">
                    <f:render partial="SelectedOrgUnit/Project/Item" arguments="{project:project, settings:settings}"/>
                </li>
            </f:for>
        </ul>
    </div>
</f:if>

</html>
