<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">
<f:layout name="Default" />

<f:section name="Main">
    <div class="group relative bg-white rounded-2xl shadow-md overflow-hidden transition-all duration-500 hover:shadow-xl mb-12">
        <f:link.action
                pageUid="{settings.featuredProjects.projectTargetPageUid}"
                controller="Project"
                action="show"
                addQueryString="untrusted"
                arguments="{project: featuredProject.uid}"
                class="w-full text-white py-2 rounded-2xl font-semibold transition-colors duration-300"
                extensionName="HioTypo3Connector"
                pluginName="ProjectList"
                argumentsToBeExcludedFromQueryString="{test: 'project'}"
        >
            <div class="relative overflow-hidden h-80">
                <f:if condition="{image}">
                    <f:then>
                        <f:if condition="{image.0}">
                            <f:then>
                                <f:media file="{image.0}" alt="{featuredProject.title}" 
                                         crop="default" 
                                         class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110" />
                            </f:then>
                            <f:else>
                                <f:render section="PlaceholderImage" />
                            </f:else>
                        </f:if>
                    </f:then>
                    <f:else>
                        <f:render section="PlaceholderImage" />
                    </f:else>
                </f:if>
            </div>
            <div class="p-5 h-[10rem]">
                <div class="flex justify-between items-start">
                    <div>
                        <h3 class="text-lg font-bold text-gray-800">{featuredProject.title}</h3>
                        <p class="text-gray-500 text-sm">{featuredProject.type}</p>
                    </div>
                </div>
            </div>
        </f:link.action>
    </div>
</f:section>

<f:section name="PlaceholderImage">
    <div class="w-full h-full bg-gray-200 flex items-center justify-center transition-transform duration-700 group-hover:scale-110">
        <f:render partial="Placeholder" />
    </div>
</f:section>
</html>
