<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default" />

<f:section name="Main">
    <f:flashMessages />
    <f:if condition="{publication.details}">
        <div class="flex items-stretch justify-between py-4 px-0">
            <h1 class="mt-2 font-normal text-3xl sm:text-4xl px-4">
                <f:translate key="publication.show.title" extensionName="HioTypo3ConnectorWtl"/>
            </h1>
        </div>
        <div class="bg-white px-4 py-6 lg:p-8">
            <div class="px-0">
                <p class="text-base/7 font-semibold text-gray-600 py-0">
                    {publication.details.type}
                    &middot;
                    {publication.details.resource}
                    &middot;
                    {publication.details.status.name}
                </p>
                <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">{publication.details.title}</h1>
                <f:if condition="{publication.details.subtitle}">
                    <p class="mt-1 max-w-2xl text-xl/8 text-gray-500 py-0">{publication.details.subtitle}</p>
                </f:if>
                <f:if condition="{publication.details.abstract}">
                    <p class="mt-4 text-lg/6 text-gray-700 py-0">{publication.details.abstract}</p>
                </f:if>
            </div>
            <div class="mt-6 border-t border-gray-100">
                <dl class="divide-y divide-gray-100">
                    <div class="py-6 sm:grid sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm/6 font-medium text-gray-900">
                            <f:if condition="{publication.details.persons -> f:count()} == 1">
                                <f:then><f:translate key="hio.show.publication.author" /></f:then>
                                <f:else><f:translate key="hio.show.publication.authors" /></f:else>
                            </f:if>
                        </dt>
                        <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                            <f:for each="{publication.details.persons}" as="person" key="index">
                                <f:render partial="Publication/Show/PersonLink" arguments="{person: person}" />
                            </f:for>
                        </dd>
                    </div>
                    <f:if condition="{publication.details.journal}">
                        <div class="py-6 sm:grid sm:grid-cols-3 sm:gap-4">
                            <dt class="text-sm/6 font-medium text-gray-900"><f:translate key="hio.show.publication.journal" /></dt>
                            <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">{publication.details.journal.title}</dd>
                        </div>
                    </f:if>
                    <div class="py-6 sm:grid sm:grid-cols-3 sm:gap-4">
                        <dt class="text-sm/6 font-medium text-gray-900"><f:translate key="hio.show.publication.globalIdentifiers.doi" /></dt>
                        <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                            <f:for each="{publication.details.globalIdentifiers}" as="identifier">
                                <f:if condition="{identifier.type} == 'DOI'">
                                    <f:then><a href="https://doi.org/{identifier.id}">{identifier.id}</a></f:then>
                                </f:if>
                            </f:for>
                        </dd>
                    </div>
                    <f:if condition="{publication.details.keywords}">
                        <div class="py-6 sm:grid sm:grid-cols-3 sm:gap-4">
                            <dt class="text-sm/6 font-medium text-gray-900">
                                <f:if condition="{publication.details.keywords -> f:count()} == 1">
                                    <f:then><f:translate key="hio.show.publication.keyword" /></f:then>
                                    <f:else><f:translate key="hio.show.publication.keywords" /></f:else>
                                </f:if>
                            </dt>
                            <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                                <f:for each="{publication.details.keywords}" as="keyword" key="index">
                                    <span class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 mb-2 mr-1 text-sm font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">{keyword.name}</span>
                                </f:for>
                            </dd>
                        </div>
                    </f:if>
                </dl>
            </div>

            <f:if condition="{publication.details.conference}">
                <f:then>
                    <f:render partial="Publication/Show/Conference" arguments="{conference: publication.details.conference}" />
                </f:then>
            </f:if>

            <f:if condition="{publication.details.journal}">
                <f:then>
                    <f:render partial="Publication/Show/Journal" arguments="{journal: publication.details.journal}" />
                </f:then>
            </f:if>

            <f:if condition="{publication.details.dynamicObjects}">
                <f:then>
                    <f:render partial="DynamicObjects" arguments="{dynamicObjects: publication.details.dynamicObjects}" />
                </f:then>
            </f:if>
        </div>
    </f:if>

    <div class="px-4 py-5 sm:p-6">
    <nav class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0">
        <div class="-mt-px flex w-0 flex-1">
            <f:link.action
                    action="index"
                    addQueryString="untrusted"
                    arguments="{currentPageNumber:currentPageNumber, filter:filter}"
                    class="inline-flex items-center border-t-2 border-transparent pr-1 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
            >
                <svg class="mr-3 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M18 10a.75.75 0 0 1-.75.75H4.66l2.1 1.95a.75.75 0 1 1-1.02 1.1l-3.5-3.25a.75.75 0 0 1 0-1.1l3.5-3.25a.75.75 0 1 1 1.02 1.1l-2.1 1.95h12.59A.75.75 0 0 1 18 10Z" clip-rule="evenodd" />
                </svg>
                <f:translate key="ShowBackToList" extensionName="HioTypo3Connector" />
            </f:link.action>
        </div>
    </nav>
    </div>
</f:section>

</html>
