<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{person}">
    <f:variable name="personUid">{f:if(condition: uid, then: uid, else: person.uid)}</f:variable>
    <f:if condition="{personUid} && {settings.projects.personTargetPageUid}">
        <f:then>
            <f:link.action action="show"
                           pageUid="{settings.projects.personTargetPageUid}"
                           controller="Person"
                           arguments="{person: personUid}"
                           class="text-gray-700 underline hover:text-wtl-red-dark px-0 m-0">{person.name}</f:link.action>
            <span>&nbsp;({person.role})</span>
        </f:then>
        <f:else>
            <span>{person.name}&nbsp;({person.role})</span>
        </f:else>
    </f:if>
</f:if>

</html>
