<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">
    <svg class="w-48 text-gray-400" fill="currentColor" viewBox="0 0 300 200" xmlns="http://www.w3.org/2000/svg">
        <rect width="300" height="200" fill="#e5e7eb"/>
        <path d="M120 80 L180 80 L150 120 Z" fill="#9ca3af"/>
        <circle cx="110" cy="70" r="15" fill="#9ca3af"/>
        <path d="M80 140 L100 120 L130 150 L220 150 L220 180 L80 180 Z" fill="#6b7280"/>
    </svg>
</html>