<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default"/>

<f:section name="Main">
    <f:flashMessages/>
    <f:if condition="{habilitation.details}">
        <div class="flex items-stretch justify-between py-4 px-0">
            <h1 class="mt-2 font-normal text-3xl sm:text-4xl px-4">
                <f:translate key="habilitation.show.title" extensionName="HioTypo3ConnectorWtl"/>
            </h1>
        </div>
        <div class="bg-white px-4 py-6 lg:p-8">
            <div class="text-base/7 text-gray-700">
                <p class="font-semibold text-gray-600 py-0">
                    <f:if condition="{habilitation.details.status}">
                        <f:translate key="LLL:EXT:hio_typo3_connector/Resources/Private/Language/habilitation.xlf:habilitation.status"  />: {habilitation.details.status.name}
                        &middot;
                    </f:if>
                    <f:if condition="{habilitation.details.language}">
                        <f:translate key="LLL:EXT:hio_typo3_connector/Resources/Private/Language/habilitation.xlf:habilitation.language" />: {habilitation.details.language.name}
                        &middot;
                    </f:if>
                    <f:if condition="{habilitation.details.startDate}">
                        <f:translate key="LLL:EXT:hio_typo3_connector/Resources/Private/Language/habilitation.xlf:habilitation.startDate" />: <f:format.date format="d.m.Y" >{habilitation.details.startDate}</f:format.date>
                        &middot;
                    </f:if>
                    <f:if condition="{habilitation.details.endDate}">
                        <f:translate key="LLL:EXT:hio_typo3_connector/Resources/Private/Language/habilitation.xlf:habilitation.endDate" />: <f:format.date format="d.m.Y" >{habilitation.details.endDate}</f:format.date>
                    </f:if>
                </p>
                <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">{habilitation.title}</h1>

                <f:if condition="{habilitation.details.dynamicObjects}">
                    <f:then>
                        <f:render partial="DynamicObjects" arguments="{dynamicObjects: habilitation.details.dynamicObjects}" />
                    </f:then>
                </f:if>

            </div>
        </div>
    </f:if>
    <div class="px-4 py-5 sm:p-6">
        <nav class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0">
            <div class="-mt-px flex w-0 flex-1">
                <f:render partial="Navigation/BackButton" />
            </div>
        </nav>
    </div>

</f:section>

</html>
