<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default"/>

<div class="flex items-end justify-end py-4 px-0">
    <div class="w-full">
        <f:form action="{action}" controller="{controller}" object="{filter}" name="filter">
            <div class="flex flex-col mb-4">
                <label for="searchTerm" class="block text-sm/6 font-medium text-gray-900 dark:text-white">
                    <f:translate key="filter.doctoralProgram.searchTerm.label" extensionName="HioTypo3ConnectorWtl"/>
                </label>
                <div class="mt-2">
                    <f:form.textfield
                            id="searchTerm"
                            name="searchTerm"
                            placeholder="{f:translate(key: 'search.placeholder')}"
                            property="searchTerm"
                            class="col-start-1 row-start-1 block w-full bg-white py-1.5 pl-10 pr-3 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-wtl-red sm:pl-9 sm:text-sm/6"/>
                </div>
            </div>

            <f:render partial="Filter/Buttons" />
        </f:form>
    </div>
</div>

</html>
